{% load i18n %}

<div class="latest-news">
  {% if item.image %}
    {% thumbnail item.image.file 75x75 crop upscale as thumbnail %}
    <img alt="{% if item.name %}{{ item.name }}{% endif %}" src="{{ thumbnail.url }}" />
  {% endif %}
<h1>{% trans "Latest news" %}</h1>
{% for item in latest %}
  <p>
    <span class="date">[{{ item.pub_date|date:"j.n.Y" }}]</span>
    {{ item.excerpt }} 
    <a href="{{ object.get_absolute_url }}" class="more">{% trans "Read more..." %}</a>
  </p>
{% endfor %}
</div>